body {
    margin: 0;
    padding-top: 800px;
    text-align: center;
    background: linear-gradient(#60ebeb 0%, #27ae60 100%); 
}

.profile {
    border-radius: 50%;

}

#welcome {

    position: absolute;
    color: #FFFFFF;
    bottom: 0;
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;

}



h1 {

    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;

}

#name {
    font-size: 50px;
    line-height: 1.2;
    font-family: 'Cinzel Decorative', cursive;

}

h2 {
    font-size: 30px;
    font-weight: 300;
    font-family: monospace;
}

#bio {
    font-family: 'Cinzel Decorative', cursive;

    padding: 50px;
    text-align: center;
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}


p {
    font-size: 17px;
}

.parallax-inner {

    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;

}

html {
    scroll-behavior: smooth;
}

.article:hover {
    color: fuchsia;
}

.menu {
    top: 0px;
    z-index: 10;
    position: fixed;
    margin-top: 0px;
    width: 100%;
    background-color: black;
}

.links {
    display: inline;
    margin-right: 33px;
    margin-left: 40px;
    font-size: 20px;
    font-family: fantasy;
}

.links:hover {
    font-size: 25px;
    text-decoration: underline;
}
a{
text-decoration: none;
    text-shadow: 2px 2px teal;
}
#writings a{
    text-decoration: none;
    text-shadow: none;
    color:fuchsia;
}
#contact{
    background-color: firebrick;
    
}
#contact iframe{
width:100%;
    
}
.contact1 h3{
    display: inline;
}
.contact1 a{
    color:aliceblue;
    text-shadow: none;
}